<template>
    <form action="" @submit="filterProducts(product)">
        <h4 class="text-center font-weight-bold">Filter the product list</h4>
        <div class="form-group">
            <label for="storage-slider">Storage</label>
            <input type="range" class="custom-range" min="0" max="24064" step="128" id="storage-slider" v-model="product.storage">
            <p>{{product.storage}}</p>
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="0" id="0gb" v-model="product.memory">
                <label class="form-check-label" for="0gb">
                    0GB
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="4" id="4gb" v-model="product.memory">
                <label class="form-check-label" for="4gb">
                    4GB
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="8" id="8gb" v-model="product.memory">
                <label class="form-check-label" for="8gb">
                    8GB
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="16" id="16gb" v-model="product.memory">
                <label class="form-check-label" for="16gb">
                    16GB
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="32" id="32gb" v-model="product.memory">
                <label class="form-check-label" for="32gb">
                    32GB
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="64" id="64gb" v-model="product.memory">
                <label class="form-check-label" for="64gb">
                    64GB
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="128" id="128gb" v-model="product.memory">
                <label class="form-check-label" for="128gb">
                    128GB
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group-prepend">
                <label for="storage-type-select">Storage Type</label>
            </div>
            <select class="form-control" id="storage-type-select" v-model="product.storage_type">
                <option value="SSD">SSD</option>
                <option value="SATA">SATA</option>
                <option value="SAS">SAS</option>
            </select>
        </div>
        <div class="form-group">
            <div class="input-group-prepend">
                <label for="location-select">Location</label>
            </div>
            <select class="form-control" id="location-select" v-model="product.location">
                <option value="1">AmsterdamAMS-01</option>
                <option value="2">DallasDAL-10</option>
                <option value="3">FrankfurtFRA-10</option>
                <option value="4">Hong KongHKG-10</option>
                <option value="5">San FranciscoSFO-1</option>
                <option value="6">SingaporeSIN-11</option>
                <option value="7">Washington D.C.WDC-01</option>
            </select>
        </div>

        <div class="form-group">
            <button :disabled="!isValid" class="btn btn-block btn-primary" @click.prevent="filterProducts(product)">Submit
            </button>
        </div>
    </form>
</template>

<script>
    export default {
        name: "FilterProducts",
        data() {
            return {
                product: {
                    storage: '',
                    memory: [],
                    storage_type: '',
                    location: ''
                }
            };
        },
        methods: {
            filterProducts(product) {
                this.$store.dispatch('fetchProducts', product);
            }
        },
        computed: {
            isValid() {
                return true;
            }
        }
    }
</script>

<style scoped>

</style>
