<template>
    <div>
        <h4 class="text-center font-weight-bold">Products</h4>
        <button class="btn btn-block btn-primary" @click.prevent="fetchProducts()">Refresh</button>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Location</th>
                <th scope="col">RAM</th>
                <th scope="col">Storage</th>
                <th scope="col">Cur</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody style=" height: 300px; overflow-y: scroll">
            <tr v-for="product in products">
                <td>{{product.name}}</td>
                <td>{{product.location}}</td>
                <td>{{product.memory}}</td>
                <td>{{product.storage}}</td>
                <td>{{product.currency}}</td>
                <td>{{product.price}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        name: "Products",
        mounted() {
            this.$store.dispatch('fetchProducts');
        },
        methods: {
            fetchProducts() {
                this.$store.dispatch('fetchProducts');
            }
        },
        computed: {
            ...mapGetters([
                'products'
            ])
        }
    };
</script>

<style scoped>

</style>
